

ul,ol{
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.css3-banner{
  position: relative;
  width: 100%;
  height: 100%;
}

/*下标按钮样式*/
.css3-banner .btn-list{
  position: absolute;
  left: 50%;
  bottom: 0;
  padding: 2px 4px;
  transform: translateX(-50%);
  text-align: center;
  font-size: 0;

}
.css3-banner .btn-list li{
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 4px;
  line-height: 20px;
  border-radius: 50%;
  font-size: 14px;
  transition: all .2s linear;
  background: #ccc;
  cursor: pointer;
}
.css3-banner .btn-list .active{
  background: #f40;
  color: #fff;
  cursor: default;
}

/*图片列表样式*/
.css3-banner .pic-box{
  width: 100%;
  height: 100%;
}
.css3-banner .pic-box li{
  display: inline-block;
  position: relative;
  transform-style: preserve-3d;
  height: 100%;
  /* transition: transform .6s .2s; */
}
.css3-banner .pic-box li div{
  position: absolute;
  height: 100%;
  width: 100%;
  /* background-size: 600px 300px; */
  background-repeat: no-repeat;
  background-size: cover;
}

/*左右按钮样式*/
/* 建议使用字体图标适配大小比较方便() */
.css3-banner .btn{
  display: none;
  position: absolute;
  top: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
  transform: translate3d(0, -50%, 0);
  cursor: pointer;
}
.css3-banner:hover .btn{
  display: block;
}

.css3-banner .btn:hover::before{
  background-color: #fff;
  transition: background-color 0.3s linear;
}
.css3-banner .btn:hover::after{
  background-color: #fff;
  transition: background-color 0.3s linear;
}

.css3-banner .btn::before{
  content: '';
  position: absolute;
  width: 6px;
  height: 30px;
  background-color: #aaa;
  transform: translate3d(-50%, 2px, 0) rotateZ(45deg);
}
.css3-banner .btn::after{
  content: '';
  position: absolute;
  width: 6px;
  height: 30px;
  background-color: #aaa;
  transform: translate3d(-50%, 19px, 0) rotateZ(-45deg);
}
.css3-banner .btn-left{
  left: 0;
}
.css3-banner .btn-right{
  right: 0;
}
.css3-banner .btn-right::before{
  transform: translate3d(-50%, 2px, 0) rotateZ(-45deg);
}
.css3-banner .btn-right::after{
  transform: translate3d(-50%, 19px, 0) rotateZ(45deg);
}

